.content-wrapper {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.15);
    margin-top: -1px;
    min-height: 100%;
    height: 100%;
    padding: 5px;
}
.map-content {
    background-image: url(../../assets/images/map.png);
    height: 40%;
    width: 100%;
    align-items: center;
    background-color: blue;
    display: inline-block;
    margin: 5px;
    background-size: contain;
}
.section-content {
    margin: 5px;
    height: auto;
    min-block-size: fit-content;
}

.section1-content {
    float: left;
    width: 33%;
}
.section2-content {
    float: left;
    width: 33%;
}
.section3-content {
    float: left;
    width: 33%;
}
